#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5
#define SCROLL 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt { flavor = "hold-preferred"; };

/ {
    combos {
        compatible = "zmk,combos";

        game1_layer {
            bindings = <&tog 4>;
            key-positions = <0 33>;
            layers = <0 1 2 3 5>;
        };

        default_layer {
            bindings = <&to 0>;
            key-positions = <0 33>;
            layers = <4>;
        };

        caps_word {
            bindings = <&caps_word>;
            key-positions = <38 39>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <4 3>;
        };

        delete {
            bindings = <&kp DEL>;
            key-positions = <14 13>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <25 24>;
        };
    };

    macros {
        spacedqt: spacedqt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp SPACE>;
            label = "SPACEDQT";
        };

        spacesqt: spacesqt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SPACE>;
            label = "SPACESQT";
        };

        spacetilde: spacetilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE &kp SPACE>;
            label = "SPACETILDE";
        };

        spacecaret: spacecaret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp SPACE>;
            label = "SPACECARET";
        };

        spacegrave: spacegrave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp SPACE>;
            label = "SPACEGRAVE";
        };
    };

    behaviors {
        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <80>;
            flavor = "tap-preferred";
        };

        tm: thumb_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Colemak {
            bindings = <
&kp Q           &kp W       &kp F        &kp P             &kp G                                                         &kp J        &kp L              &kp U        &kp Y       &kp SEMICOLON
&hm LEFT_WIN A  &hm LALT R  &hm LCTRL S  &hm LEFT_SHIFT T  &kp D                              &kp F13                    &kp H        &hm RIGHT_SHIFT N  &hm RCTRL E  &hm RALT I  &hm RGUI O
&kp Z           &kp X       &kp C        &kp V             &kp B      &kp LEFT_BRACKET        &kp RIGHT_BRACKET          &kp K        &kp M              &kp COMMA    &kp DOT     &kp SLASH
&kp ESC         &mkp MB3    &mkp MB2     &mkp MB1          &lt 1 TAB  &mt LEFT_SHIFT SPACE    &mt RIGHT_SHIFT BACKSPACE  &lt 2 ENTER                                              &lt 3 DEL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Navigation {
            bindings = <
&kp LC(LG(LEFT))  &kp LS(LC(TAB))  &kp UP_ARROW  &kp LC(TAB)  &kp LC(LG(RIGHT))                    &kp PLUS    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK
&kp HOME          &kp LEFT         &kp DOWN      &kp RIGHT    &kp PAGE_UP                  &trans  &kp MINUS   &kp N4        &kp N5        &kp N6        &kp SLASH
&kp END           &kp PSCRN        &kp C_AL_CAL  &kp INS      &kp PAGE_DOWN      &trans    &trans  &kp PERIOD  &kp N1        &kp N2        &kp N3        &kp ENTER
&trans            &trans           &trans        &trans       &trans             &trans    &trans  &kp N0                                                &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP K_VOLUME_DOWN>;
        };

        Symbols {
            bindings = <
&kp EXCL     &kp AT       &kp HASH     &kp DOLLAR  &kp PERCENT                       &kp CARET          &kp AMPERSAND     &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&spacegrave  &spacecaret  &spacetilde  &spacesqt   &spacedqt                 &trans  &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &kp TILDE         &kp CARET             &kp GRAVE
&kp PIPE     &kp EQUAL    &kp PLUS     &kp MINUS   &kp UNDER    &spacedqt    &trans  &kp LEFT_BRACE     &kp RIGHT_BRACE   &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp BACKSLASH
&trans       &trans       &trans       &trans      &trans       &kp SPACE    &trans  &trans                                                                       &trans
            >;

            sensor-bindings = <&scroll_right_left>;
        };

        Function {
            bindings = <
&kp F1   &kp F2          &kp F3    &kp F4   &kp F5                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp F6   &kp F7          &kp F8    &kp F9   &kp F10            &kp C_VOL_UP  &trans        &trans        &trans        &trans        &bt BT_CLR
&kp INS  &kp SCROLLLOCK  &kp CAPS  &kp F11  &kp F12  &trans    &kp C_VOL_DN  &kp C_MUTE    &kp C_PREV    &kp C_NEXT    &kp C_PP      &trans
&trans   &trans          &trans    &trans   &trans   &trans    &trans        &trans                                                  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        Game_1 {
            bindings = <
&kp TAB         &kp Q   &kp W         &kp E    &kp R                           &kp KP_PLUS   &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MULTIPLY
&kp LEFT_SHIFT  &kp A   &kp S         &kp D    &kp F                &kp I      &kp KP_MINUS  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_SLASH
&kp Z           &kp X   &kp C         &kp V    &kp B   &kp G        &kp M      &kp TAB       &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_NUM
&kp LCTRL       &trans  &kp LEFT_ALT  &kp ESC  &tog 5  &kp SPACE    &kp ENTER  &kp KP_N0                                      &kp KP_DOT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        Game_2 {
            bindings = <
&trans        &trans        &trans        &trans        &trans                                &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6    &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans          &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
